/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    /*padding-top:70px;*/
    font-family: 'Montserrat', sans-serif; 
    background: #0a2344; /* For browsers that do not support gradients #0a2345; */
    background: -webkit-linear-gradient(#0a2344, #010103); /* For Safari 5.1 to 6.0 #061428 */
    background: -o-linear-gradient(#0a2344, #010103); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0a2344, #010103); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0a2344, #010103); /* Standard syntax */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
                                NAVIGATION BAR 
   ========================================================================== */


.navbar-toggle .icon-bar:nth-of-type(2) {
      top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
      position: relative;
      transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
}

.navbar-header {
  float: none;
}
.navbar-toggle {
  display: block;
  background-color: transparent;
  border: none;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-inverse {
  border: none;
  background-color: transparent;
}

.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
}
.navbar-nav>li {
  float: none;
}
.navbar-collapse.collapse.in{
  display:block !important;
}

.navbar-custom {
    background-color: transparent;
}

.nav li{
   background-color: transparent; !important; 
}

.logo img{
    width: 30%;
    float: left;
    margin-top: -8px;
    margin-right: 10px;
}


/* ==========================================================================
                                HEADER
   ========================================================================== */

.selus-header {
    color: #FFFFFF;
    margin-top: 120px;
}

.selus-header-bold {
    color: #2a5da3;
}

.selus-subheader {
    color: #55667e;
}

.selus-quote-header {
    white-space: nowrap;
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 20px;
}

.header-image img {
    width: 100%;
    margin-top: 60px;
    /*min-width: 400px;*/
}

.cellphone-image img {
    width: 100%;
    margin-top: 100px;
    /*min-width: 650px;*/
    /*padding-right: 80px;*/
}

.headphones-image img {
    width: 100%;
    margin-top: 100px;
}

.signin-image img {
    width: 100%;
    margin-top: 100px;
    /*min-width: 400px;*/
    max-width: 200px;
}

.landing-image img {
    width: 100%;
    margin-top: 120px;
    /*min-width: 400px;*/
    max-width: 200px;
}

.player-image img {
    width: 100%;
    margin-top: 100px;
    /*min-width: 400px;*/
    max-width: 200px;
}


.float-image img {
    width: 100%;
    margin-top: 100px;
    /*min-width: 500px;*/
}

.bottom-phone-image img {
    width: 100%;
    max-width: 200px;
    margin-top: 60px;
}

.mobile-icon img {
    width: 100%;
    margin-top: 100px;
    max-width: 40px;
}

.bottom-header {
/*    white-space: nowrap;*/
    color: #FFFFFF;
    margin-top: 80px;
    font-size: 22px;
}

.bottom-subheader {
    margin-top: 20px;
    color: #66778e;
}


/* ==========================================================================
                                CAROUSEL
   ========================================================================== */

.overlay-white {
  background: rgba(3,3,3, .9);
  padding: 100px 0;
  position: relative;
  width: 100%;
}


/* ==========================================================================
                                BUTTONS
   ========================================================================== */

.btn-primary {
    background-color: transparent; /* #0A2345 */
    border-radius: 30px;
    padding: 7px 40px;
    margin-top: 15px;
    font-size: 10px;
}

.btn-bottom {
  margin-top: 70px;
  padding: 7px 20px;
}


/* ==========================================================================
                                FOOTER
   ========================================================================== */


ul.footer-nav {
  list-style-type: none;
  margin-top: 150px;
}

ul.footer-nav li {
  float: left;
  font-size: 12px
  white-space: nowrap;
}

ul.footer-nav li a {
  display: block;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
}

.copyright {
  margin-top: 150px;
  color: #337AB7;
  font-size: 12px
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


@media only screen and (min-width:320px) and (max-width: 753px)  {
  
  ul.footer-nav {
    text-align: center;
    padding-top: 30px;
    margin-bottom: -10px;
  }

  ul.footer-nav li {
    font-size: 9px;
    white-space: nowrap;
  }

  ul.footer-nav li a {
    padding: 0 10px;
  }

  ul.footer-nav li:first-child {
    margin-left: -40px;
  }

  .copyright {
    text-align: center;
    font-size: 9px;
  }

}



@media only screen and (min-width: 754px) {

  .owl-carousel .owl-item {
    padding: 60px 220px;
  }

  .signin-image img {
    margin-top: 145px;
  }


  .player-image img {
      margin-top: 145px;
  }

}



@media only screen and (max-width: 767px) {

  ul.footer-nav, .copyright {
    margin-top: 50px;
    text-align: center;
  }

  ul.footer-nav {
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

}



@media only screen and (min-width: 992px) {


  .signin-image img {
    margin-top: 150px;
    max-width: 170px;
    margin-right: -100px;
  }


  .player-image img {
      margin-top: 150px;
      max-width: 170px;
      margin-left: -100px;
  }

}



@media only screen and (min-width: 1200px) {

  
  .cellphone-image img {
    min-width: 650px;
    margin-left: -140px;
    margin-bottom: 100px;
  }

  .signin-image img {
    margin-top: 150px;
    max-width: 170px;
    margin-right: -200px;
  }


  .player-image img {
      margin-top: 150px;
      max-width: 170px;
      margin-left: -200px;
  }

}



/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
